html {
    font-family: sans-serif;
    color:rgb(200, 200, 200);
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

div{
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
}

.task-list input[type="text"]{
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

input[type="checkbox"] {
    display: none;
}

.task-list .list {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

footer .add-task input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #e0bbe4;
    border-radius: 0.5rem;
}