input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body (
    background-color: 
)

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

