html {
    font-family: sans-serif;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body (

)

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

div.content {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
}


